// 自带的一些配置colors
$accentColor = #0984e3 // 主题色
// $textColor = #2c3e50 // 文字颜色
$textColor = #fff // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色

// 自定义
$navbarBgColor = -webkit-gradient(linear, 0 0, 0 100%, from(#3A445E), to(#1A223D)) //头部导航栏背景颜色
$sidebarBgColor = -webkit-gradient(linear, 0 0, 0 100%, from(#3A445E), to(#1A223D))