@import './override.styl'
@import './components/styles/config.styl'
// disable the search box
.search-box
  display none

// disable outbound link icon
.icon.outbound
  display none

//自定义
html, body, #app, .theme-container, .page{
  height 100%
} 
.theme-container
  background $homeBgColor

.navbar
  background $navbarBgColor
  box-shadow 1px 1px 1px 1px rgba(0, 0, 0, 0.1)
  padding-bottom 0
  border 0
  .links
    background $navbarBgColor
.sidebar
  background $sidebarBgColor
  box-shadow 1px 3px 5px 1px rgba(0, 0, 0, 0.1)
  border 0
.sidebar-heading
  color #fff
a.sidebar-link
  color #fff
  padding 0.6rem 1rem 0.6rem 1.25rem
  border-left 0.25rem solid transparent
a.sidebar-link.active
  color #fff
  background #1F337E
  border-left-color #0984e3